name: Manage AKS Cluster

on:
  workflow_dispatch:
    inputs:
      organizationName:
        description: 'The name of your Organization. Terraform organizations let you manage organizations, projects, and teams.'
        required: true
      email:
        description: 'Email of user/owner' 
        required: true
      projectName:
        description: 'The name of your Project. Terraform projects let you manage resources and permissions.'  
        required: true
      workspaceName:
        description: 'The name of your workspace. Terraform workspaces let you manage environment-specific configurations.'
        required: true
      resourceGroupName:
        description: 'The name of your Azure Resource Group'  
        required: true
      clusterName:
        description: 'The name of your AKS cluster'
        required: true
      region:
        description: 'The Azure region where the cluster will be deployed'
      action:
        description: 'Action to perform (apply/destroy)'

jobs:
  apply_cluster:
    runs-on: ubuntu-latest
    env:
      TF_VAR_organizationName: ${{ github.event.inputs.organizationName }}
      TF_VAR_email: ${{ github.event.inputs.email }}
      TF_VAR_projectName: ${{ github.event.inputs.projectName }}
      TF_VAR_workspaceName: ${{ github.event.inputs.workspaceName }}
      TF_VAR_resourceGroupName: ${{ github.event.inputs.resourceGroupName }}
      TF_VAR_clusterName: ${{ github.event.inputs.clusterName }}
      TF_VAR_region: ${{ github.event.inputs.region }}
      TF_VAR_action: ${{ github.event.inputs.action }}
      TF_VAR_tfe_token: ${{ github.event.inputs.TF_API_TOKEN }}
      TF_VAR_subscription_id: ${{ github.event.inputs.subscription_id }}
    if: ${{ github.event.inputs.action == 'apply' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
    - name: Terraform Init
      run: terraform init
      working-directory: Terraform
    - name: Terraform Format
      run: terraform fmt
      working-directory: Terraform
    - name: Terraform Validate
      run: terraform validate
      working-directory: Terraform
    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: Terraform

  destroy_cluster:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.action == 'destroy' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
    - name: Terraform Init
      run: terraform init
      working-directory: Terraform
    - name: Terraform FMT
      run: terraform fmt
      working-directory: Terraform
    - name: Terraform Validate
      run: terraform validate
      working-directory: Terraform
    - name: Terraform Destroy
      run: terraform destroy -auto-approve
      working-directory: Terraform
